# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
*.swp
*~.nib

build/

# Xcode project files except for the project file
#*.xcodeproj/*
#!*.xcodeproj/project.pbxproj

*.pbxuser
*.perspective
*.perspectivev3

#!xcuserdata/
#*.xcuserstate
UserInterfaceState.xcuserstate

# Windows image thumbnail file
Thumbs.db
